<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>FY</th>
        <th>Start</th>
        <th>End</th>
        <th class="num">Planned qty</th>
        <th class="num">Sell price</th>
        <th class="actions-cell"></th>
      </tr>
    </thead>

    <tbody>
      <% @program.contracts.each do |c| %>
        <tr>
          <td><%= link_to c.contract_code, c %></td>
          <td><%= c.fiscal_year %></td>
          <td><%= c.start_date %></td>
          <td><%= c.end_date %></td>
          <td class="num"><%= c.planned_quantity %></td>
          <td class="num"><%= number_to_currency(c.sell_price_per_unit) %></td>
          <td class="actions-cell">
            <div class="actions">
              <%= link_to "View", c, class: "btn btn-sm" %>
              <%= link_to "Edit", edit_contract_path(c), class: "btn btn-sm" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
